<% if (locals.errors?.length || locals.messages?.length) { %>  
    <div id="errors">
        <ul>
            <% if (locals.errors?.length) { %>
                <% errors.forEach((error) => { %>
                    <li><img src="/images/error.svg"><%= error.msg %></li>
                <% }) %>
            <% } %>

            <% if (locals.messages?.length) { %>
                <% messages.forEach((message) => { %>
                    <li><img src="/images/error.svg"><%= message %></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
<% } %>