<nav>
    <a href="/">Message Board</a>

    <% if (locals.user) { %>
        <strong><%= user.full_name %></strong>
        <form action="/login/log-out" method="POST">
            <button type="submit">Log Out</button>
        </form>

        <%# If user is member hide the link to membership page%>
        <% if (!user.member) { %>
            <a href="/membership">Join The Club!</a>
        <% } %>

    <%} else { %>
        <a href="/login">Login</a>
    <% } %>
</nav>
