<nav>
    <div id="site-title">
        <a href="/">Message Board</a>
    </div>

    <% if (locals.user) { %>
        <div id="nav-options">
            <strong id="nav-username"><%= user.full_name %></strong>
            <button 
                id="menu-on-btn" 
                aria-label="Toggle navigation menu" 
                aria-expanded="false"
                aria-controls="nav-links">
                <img src="/images/menu.svg" alt="">
            </button>

            <div id="nav-links">
                <a  href="/" class="nav-link">Home</a>

                <%# If user is member hide the link to membership and admin pages%>
                <% if (!user.member) { %>
                    <a href="/membership" class="nav-link">Join The Club!</a>
                <% } %>

                <% if (!user.admin) { %> 
                    <a href="/admin" class="nav-link">Become an Admin!</a>
                <% } %>

                 <form action="/login/log-out" method="POST">
                    <button type="submit" class="nav-link">Log Out</button>
                </form>
            </div>
        </div>

    <%# Handles menu behaviour on different devices %>
    <script src="/utils/nav.js" defer></script>

    <%} else { %>
        <a href="/login" id="login">Login</a>
    <% } %>
</nav>
