<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an Admin</title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <main>
      <section id="user-form">
        <%- include("partials/errors") %>

        <h1>Become an Admin</h1>
        <small>Enter the Admin password to become an admin.</small>

        <form action="/admin" method="POST">
          <div class="form-field">
            <label for="admin-password">Admin Password</label>
            <input type="password" id="admin-password" name="adminPassword" />
          </div>

          <button type="submit" class="form-button">Become an Admin</button>
        </form>
      </section>
    </main>
  </body>
</html>
