<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: <%= statusCode %></title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/errorPage.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <main>
      <div id="error-status">
        <strong id="error-code"><%= statusCode %></strong>
        <p id="error-message"><%= message %></p>
        <a href="/" id="home-btn">Return to Message Board</a>
      </div>
    </main>
  </body>
</html>
