<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <a href="/">Home</a>

    <form action="/login" method="POST">
      <button type="submit">Login</button>

      <a href="/sign-up">Sign Up!</a>
    </form>
  </body>
</html>
