<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <%- include("partials/nav") %>
    <main>
      <% if (locals.errors || locals.messages) { %>
        <ul class="errors">
          <% if (locals.errors) { %>
              <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
              <% }) %>
          <% } %>

          <% if (locals.messages) { %>
              <% messages.forEach((message) => { %>
                <li><%= message %></li>
              <% }) %>
          <% } %>
        
        </ul>
      <% } %>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" />

        <button type="submit">Login</button>

        <a href="/sign-up">Sign Up!</a>
      </form>
    </main>
  </body>
</html>
