<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <main>
      <%- include("partials/errors") %>

      <section id="user-form">
        <h1>Login</h1>

        <form action="/login" method="POST">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Email address"
          />

          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />

          <button type="submit" class="form-button">Login</button>

          <div id="sign-up-info">
            <p>Dont have an account?</p>
            <a href="/sign-up">Sign Up Now!</a>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
