<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership</title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <main>
      <%- include("partials/errors") %>

      <section id="user-form">
        <h1>Become a Member</h1>
        <small>Enter the Membership passcode to become a member!</small>

        <form action="/membership" method="POST">
          <input
            type="password"
            id="membership-password"
            name="membershipPassword"
            placeholder="Membership Password"
          />

          <button type="submit" class="form-button">Become a Member</button>
        </form>
      </section>
    </main>
  </body>
</html>
