<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <main>
      <%- include("partials/errors") %>

      <section id="user-form">
        <h1>New Message</h1>

        <form action="/message" method="POST">
          <div class="form-field">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" />
          </div>

          <div class="form-field">
            <label for="message-text">Message</label>
            <input type="text" id="message-text" name="messageText" />
          </div>

          <button type="submit" class="form-button">Create Message</button>
        </form>
      </section>
    </main>
  </body>
</html>
