<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <main>
      <%- include("partials/errors") %>
      <section id="user-form">
        <h1>Sign Up</h1>
        <form action="/sign-up" method="POST">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email Address"
          />

          <input
            type="text"
            id="first-name"
            name="firstName"
            placeholder="First Name"
          />

          <input
            type="text"
            id="last-name"
            name="lastName"
            placeholder="Last Name"
          />

          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />

          <input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            placeholder="Confirm Password"
          />

          <button type="submit" class="form-button">Create User</button>

          <a href="/login">Return to Login</a>
        </form>
      </section>
    </main>
  </body>
</html>
