<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <main>
      <%- include("partials/errors") %>
      <section id="user-form">
        <h1>Sign Up</h1>
        <form action="/sign-up" method="POST">
          <div class="form-field">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" />
          </div>

          <div class="form-field">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="firstName" />
          </div>

          <div class="form-field">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastName" />
          </div>

          <div class="form-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
          </div>

          <div class="form-field">
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirmPassword"
            />
          </div>

          <button type="submit" class="form-button">Create User</button>

          <a href="/login">Return to Login</a>
        </form>
      </section>
    </main>
  </body>
</html>
