:root {
  --white: #ffffff;
  --black: #000000;

  --dark-gray: #323030;
  --light-gray: #c2bebe;

  --background-color: #ebe8e8;

  --helper-color: #585e6a;
  --link-color: #1866cb;

  --helper-header: #373b42;
  --message-text: #424242;

  --error-background: #f4cdcd;
  --error-text: #442e2e;

  --text-red: #f63030;

  --primary-green: #65d795;
  --secondary-green: #1b4332;

  --nav-height: 7vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - var(--nav-height));
  background-color: var(--background-color);
  padding: 1rem;
}

main section {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#errors {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 1rem;
}

#errors ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
}

#errors ul li {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  padding: 0.7rem 0.4rem;
  min-width: 350px;

  background-color: var(--error-background);
  color: var(--error-text);
  font-weight: bold;
  font-size: 1rem;
}

#errors ul li img {
  width: 1.2rem;
  height: auto;

  max-width: 50px;
}

.helper-text {
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  color: var(--dark-gray);
  text-align: center;
}

/* Import fonts and assign them to elements */

@font-face {
  font-family: "Archivo Narrow";
  src: url("../fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf");
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter/Bitter-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-Regular.ttf");
}

h2,
strong,
button,
input {
  font-family: "Outfit";
}

a,
p,
li,
h1 {
  font-family: "Bitter";
}

span,
small {
  font-family: "Archivo Narrow";
}
